/* Additional StyleSheet below */

/* Body and structure */

html, body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -80px;
    overflow-y: scroll;
}

.push {
    height: 80px;
}

/* Jumbotron */
.jumbotron {
  position: relative;
  padding: 14px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
//  background: #020031; /* Old browsers */
//  background: -moz-linear-gradient(45deg,  #020031 0%, #6d3353 100%); /* FF3.6+ */
//  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
//  background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
//  background: -o-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Opera 11.10+ */
//  background: -ms-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* IE10+ */
//  background: linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

.jumbotron h1 {
  font-size: 70px;
  font-weight: bold;
  color: black;
  letter-spacing: -1px;
  line-height: 1;
}

.jumbotron h2 {
 font-size: 35px;
 font-weight: bold;
 color: black;
 letter-spacing: -1px;
 line-height: 1
}

.jumbotron h3 {
 font-size: 20px;
 font-weight: bold;
 color: black;
 letter-spacing: -1px;
 line-height: 1
}

.jumbotron p {
  font-size: 18px;
  color: black;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 10px;
}

.jumbotron a {
  color: #fff;
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/* Download button */
@-webkit-keyframes downloadButton {
  from { box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.5); }
  50% {  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 25px rgba(0,68,204,.9); }
  to {   box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.5); }
}
@-moz-keyframes downloadButton {
  from { box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.5); }
  50% {  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 25px rgba(0,68,204,.9); }
  to {   box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.5); }
}

.masthead .btn {
  padding: 14px 24px;
  font-size: 24px;
  font-weight: 200;
  color: #fff; /* redeclare to override the `.jumbotron a` */
  border: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.01);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.01);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.01);
  -webkit-animation-name: downloadButton;
     -moz-animation-name: downloadButton;
  -webkit-animation-duration: 1.5s;
     -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;

}

.masthead .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
          box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}

.masthead {
  padding: 10px 0 10px;
  margin-bottom: 0;
  color: #fff;
}

.masthead h1 {
  font-size: 120px;
  line-height: 1;
  letter-spacing: -2px;
}

.masthead p {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
}

.jumbotron .container {
  position: relative;
  z-index: 2;
}

.jumbotron:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/bs-docs-masthead-pattern.png) repeat center center;
  opacity: .4;
}

.marketing {
  text-align: center;
  color: #5a5a5a;
}

.marketing h1 {
  margin: 60px 0 10px;
  font-size: 40px;
  font-weight: 200;
  line-height: 1;
  letter-spacing: -1px;
}

.marketing h2 {
  font-weight: 200;
  margin-bottom: 5px;
}

.marketing a {
	font-size:16px;
  font-weight: 200;
  margin-bottom: 5px;
}

.marketing p {
  font-size: 13px;
  line-height: 1.5;
}

.marketing .marketing-byline {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  color: #999;
}

.marketing img {
  display: block;
  margin: 0 auto 30px;
}

.red-or{
    background-color: #9d261d;
    margin-top: 10px;
    z-index: 2;
}

.red-or h1{
    color: #ffffff; 
    font-size: 45px;
}

#facprog {
    position: absolute;
    top: 362px;
    bottom: 66px;
    padding-left: 4%;
    padding-right: 4%;
    width: 86.2%;
    border-width: 0;
    overflow-y: scroll;
}

#hscfacprog{
    position: absolute;
    top: 307px;
    bottom: 66px;
    padding-left: 4%;
    padding-right: 4%;
    width: 86.2%;
    border-width: 0;
    overflow-y: scroll;
}

#scfacprog{
    position: absolute;
    top: 307px;
    bottom: 66px;
    padding-left: 4%;
    padding-right: 4%;
    width: 86.2%;
    border-width: 0;
    overflow-y: scroll;
}

#spfacprog{
    position: absolute;
    top: 307px;
    bottom: 66px;
    padding-left: 4%;
    padding-right: 4%;
    width: 86%;
    border-width: 0;
    overflow-y: scroll;
}

#comfacprog{
    position: absolute;
    top: 347px;
    bottom: 66px;
    padding-left: 4%;
    padding-right: 4%;
    width: 86.2%;
    border-width: 0;
    overflow-y: scroll;
}

#engfacprog{
    position: absolute;
    top: 347px;
    bottom: 66px;
    padding-left: 4%;
    padding-right: 4%;
    width: 86.2%;
    border-width: 0;
    overflow-y: scroll;
}

#humfacprog{
    position: absolute;
    top: 307px;
    bottom: 66px;
    padding-left: 4%;
    padding-right: 4%;
    width: 86.2%;
    border-width: 0;
    overflow-y: scroll;
}

#genfacprog {
    position: absolute;
    top: 307px;
    bottom: 66px;
    padding-left: 4%;
    padding-right: 4%;
    width: 86.2%;
    border-width: 0;
    overflow-y: scroll;
}

#intprog {
    position: absolute;
    top: 307px;
    bottom: 66px;
    padding-left: 4%;
    padding-right: 4%;
    width: 86.2%;
    border-width: 0;
    overflow-y: scroll;
}

#pscroller {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#hscpscroller {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#scpscroller {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#sppscroller {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#compscroller {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#engpscroller {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#humpscroller {
    position: relative;
    width: 100%;
    overflow: hidden;
}


/* footer */
.footer {
    padding-left: 0;
    padding-right: 0;
    height: 80px;
    border-top: 1px solid #e5e5e5;
}

.footer p {
    margin-bottom: 0;
    color: #777;
    z-index: 2;
}

/* responsive */

/* Portrait tablet to landscape */
@media (min-width: 768px) {

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  /* Remove padding above jumbotron */
  body {
    padding-top: 0;
  }

  /* Change up some type stuff */
  h2 small {
    display: block;
  }

  /* Downsize the jumbotrons */
  .jumbotron h1 {
    font-size: 30px;
  }
  .jumbotron h2 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1
  }

.jumbotron h3 {
 font-size: 16px;
 font-weight: bold;
 letter-spacing: -1px;
 line-height: 1
}

.jumbotron p {
  font-size: 10px;
  font-weight: 150;
  line-height: 20px;
  margin-bottom: 5px;
}

  .jumbotron p,
  .jumbotron .btn {
    font-size: 18px;
  }
  .jumbotron .btn {
    margin: 0 auto;
  }
  
    /* Marketing on home */
  .marketing h1 {
    font-size: 40px;
  }

  .red-or h1{
    color: #ffffff; 
    font-size: 20px;
  }
    
  #facprog {
    position: absolute;
    top: 145px;
    bottom: 66px;
    padding-left: 4%;
    padding-right: 4%;
    width: 85%;
    border-width: 0;
    overflow-y: scroll;
 }
 
 #hscfacprog{
    position: absolute;
    top: 75px;
    bottom: 66px;
    padding-left: 4%;
    padding-right: 4%;
    width: 80%;
    border-width: 0;
    overflow-y: scroll;
}

#scfacprog{
    position: absolute;
    top: 75px;
    bottom: 66px;
    padding-left: 4%;
    padding-right: 4%;
    width: 80%;
    border-width: 0;
    overflow-y: scroll;
}

#spfacprog{
    position: absolute;
    top: 75px;
    bottom: 66px;
    padding-left: 4%;
    padding-right: 4%;
    width: 80%;
    border-width: 0;
    overflow-y: scroll;
}

#comfacprog{
    position: absolute;
    top: 75px;
    bottom: 66px;
    padding-left: 4%;
    padding-right: 4%;
    width: 80%;
    border-width: 0;
    overflow-y: scroll;
}

#engfacprog{
    position: absolute;
    top: 75px;
    bottom: 66px;
    padding-left: 4%;
    padding-right: 4%;
    width: 80%;
    border-width: 0;
    overflow-y: scroll;
}

#humfacprog{
    position: absolute;
    top: 75px;
    bottom: 66px;
    padding-left: 4%;
    padding-right: 4%;
    width: 80%;
    border-width: 0;
    overflow-y: scroll;
}

#genfacprog {
    position: absolute;
    top: 75px;
    bottom: 66px;
    padding-left: 4%;
    padding-right: 4%;
    width: 86.2%;
    border-width: 0;
    overflow-y: scroll;
}

#intprog{
    position: absolute;
    top: 75px;
    bottom: 66px;
    padding-left: 4%;
    padding-right: 4%;
    width: 80%;
    border-width: 0;
    overflow-y: scroll;
}

.table td {
 font-size: 11px;
}

}