/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 
 .wrap {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -80px;
    overflow: none;
}

.mapwrapper {
    border: 2px solid #000066;
	position:absolute;
    overflow:hidden;
	top:60px;
    left:20px;
    right:20px;
    bottom:60px;
    }

ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

li {
	padding:0 10px;
	height:40px;
	line-height:40px;
	border-bottom:1px solid #ccc;
	border-top:1px solid #fff;
	background-color:#fafafa;
	font-size:14px;
}


.scroller {
	position:relative;
    width:2186px;
    height:1492px;
}

.overlay {
    opacity:100;
    filter: alpha(opacity = 100);
    position:absolute;
    top:190px; left:160px;
	width:16px;
    display:block;
    background:transparent;
	visibility:hidden;
}

.overlayTarget {
    opacity:100;
    filter: alpha(opacity = 100);
    position:absolute;
    top:190px; left:160px;
	width:16px;
    display:block;
    background:transparent;
	visibility:hidden;
}